/* ==== 
 --------- (5.2) search section styles start ---------
 ==== */

.search {
    padding: 156px 16px 425px;
    background-image: url("../../public/assets/images/union.png"), url("../../public/assets/images/character.png");
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
    background-position: left top, left 66px bottom 58px;
    position: relative;
    .circle {
        position: absolute;
        bottom: -40px;
        right: 0px;
        z-index: 2;
    }

    .search__container {
        max-width: 700px;
        margin: 0px auto;
        text-align: center;
    }

    .search__box {
        margin-top: 118px;

        p {
            margin-bottom: 8px;
            color: $tertiary-color;
            font-weight: 400;
        }
    }

    .search__input {
        position: relative;

        input {
            width: 100%;
            color: #00000060;
            padding: 14px 40px 14px 64px;
            border: 3px solid #02547D;
            border-radius: 37px;
            background-color: $white !important;

            &::placeholder {
                color: #00000060;
            }
        }

        svg {
            position: absolute;
            top: 50%;
            left: 30px;
            transform: translateY(-50%);
            font-size: 20px;

            path {
                stroke: #9E9E9E;
            }
        }
    }
}


.dataResult {
    background-color: $white;
    border: 1px solid #dadee4;
    border-radius: 5px;
    text-align: left;
    max-height: 250px;
    overflow-y: auto;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 3;
    margin-top: 0px;

    h3 {
        font-size: 18px;
        line-height: 28px;
        font-weight: 600;
        margin: 0px;

        button {
            width: 100%;
            display: block;
            padding: 20px;
            color: $primary-color;
            border-bottom: 1px solid #F2F8FD !important;
            text-align: left;
            background-color: $white;
            font-weight: 500;

            &:hover {
                color: $theme-color;
                background-color: #F2F8FD;
            }
        }
    }
}

#closeSearch {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    svg {
        position: static;
        transform: translateY(0px);
    }
}

@media only screen and (max-width: 1399px) {
    .search {
        padding: 80px 16px 270px;
        background-size: 218px 218px, 240px 250px;
        background-position: left top, left -10px bottom 15px;

        .circle {
            max-width: 170px;
            bottom: -20px;
        }

        .search__container {
            max-width: 560px;

            h2 {
                font-size: 34px;
                line-height: 46px;
            }
        }

        .search__box {
            margin-top: 64px;

            p {
                font-size: 16px;
                line-height: 22px;
            }

            input {
                font-size: 16px;
            }
        }
    }
}

@media only screen and (max-width: 740px) {
    .search {
        padding: 40px 16px 140px;
        background-size: 150px 150px, 130px 150px;
        background-position: left top, left -10px bottom 15px;

        .circle {
            max-width: 90px;
        }

        .search__container {
            max-width: 290px;

            h2 {
                font-size: 18px;
                line-height: 24px;
            }
        }

        .search__box {
            margin-top: 30px;

            p {
                font-size: 12px;
                line-height: 16px;
            }

            input {
                font-size: 16px;
                padding: 6px 16px 6px 40px;
            }

            svg {
                font-size: 18px;
                left: 20px;
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .search {
        background-size: 100px 100px, 110px 120px;
        button {
            font-size: 14px !important;
            padding: 15px 20px !important;
        }
    }
}


/* ==== 
 --------- (5.2) search section styles end ---------
 ==== */